body {color: #608aa8; background-color: #ffffff; font-family: Arial, Helvetica, sans-serif;}


.wrapper{ display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch; 
    height:100%;}

.nav { padding-right:5px; font-weight: bold; font-size:15px; width: 171px; background-color: #9fc1b2;}

.content{background-color: #b7d6e6; text-align:justify; padding:30px; color: #ffffff;}
/* 
.wrapper{position:relative;}

.nav { padding-right:5px; font-weight: bold; font-size:15px; width: 171px; background-color: #9fc1b2; position: absolute; height:100%;}

.content{background-color: #b7d6e6; text-align:justify; padding:30px; color: #ffffff; position: absolute; height:100%;} */

.header {color: #ffffff; font-family: Arial, Helvetica, sans-serif; background-color: #9fc1b2; height:111px; position: relative;  display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;}

#header img {background-image: url(compozedlogo.jpeg); }
.titletext{color:white; font-size: 20px; font-weight:bold; vertical-align: middle;  margin: 40px 0 0 30px}

center{margin:0px; font-size: 1.8em;}

h2{color:#608aa8; font-weight: bold; margin-top:10px; margin-bottom:10px;}

/* h1{color: #ffffff; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-align: center; 
      font-size: 3em; position: absolute; left: 850px; top: 30px; text-align: center; 
      background-color: #9fc1b2} */

 /*make odd columns of table on homepage brown*/
#introtable td:nth-of-type(odd) {color: #b58947; font-weight: bold;}
/* #introtable tr:nth-of-type(3) {align:center;} */
#introtable{text-align:left;}
#introtable th, td {border: none; padding-left: 5px; padding-right: 10px;}
#introtable tr {padding: 10px; border-spacing: 5px;}


.nav ul {list-style-type: none; margin: 0px; padding-left: 0px; line-height: 40px; text-align: center;
font-size: 1.2em; background-color: #9fc1b2; height: auto; width: 170px;}

.nav a:link {color: #073C72;}
.nav a:hover {color: #FFFFFF;}
.nav a:active {color: #073C72;}
.nav a {text-decoration: none;}


.nav2 {font-size: 1em; font-weight: bold; color: #000000; text-decoration: none;
    background-color: #9fc1b2; text-align: center; border-top: 1px; border-left: 0px; border-right: 0px; 
    border-bottom: 0px; border-style: solid; border-top-color: black;width:100%;}
.nav2 a:link {color: #073C72;}
.nav2 a:hover {color: #FFFFFF;}
.nav2 a:active {color: #073C72;}
.nav2 a {text-decoration: none;}

blockquote{margin:0px;}
.quoter{color:black; margin-left: 60px;}

h3{color:#B94A9A;}

.footer{text-align: center; background-color: #9fc1b2; color: #000000; border-left: 0px; border-right: 0px; border-top: 0px; border-bottom: 1px;
    border-style: solid; border-bottom-color: black; width:100%;}