body {color: #608aa8; background-color: #ffffff; font-family: Arial, Helvetica, sans-serif;}

.nav { font-weight: bold; font-size:15px; width: 171px; background-color: #b6c8b6; padding-left:30px; padding-right: 0px;}
.nav a:link {color: #073B72;}
.nav a:hover {color: #FFFFFF;}
.nav a:active {color: #073C72;}
.nav a {text-decoration: none;}
    
.layouttable {border: none;}
.layouttable td {padding: 0;}
.titletext_td {font-family: Arial, Helvetica, sans-serif; color: #ffffff; background-color: #b6c8b6; height:111px;}
.nav_td {font-family: Arial, Helvetica, sans-serif; color: #ffffff; background-color: #b6c8b6; height:111px; max-width:170px;}

.content {background-color: #b6c8c8; text-align:justify; padding:30px; color: #ffffff;}

.header {color: #ffffff; font-family: Arial, Helvetica, sans-serif; background-color: #b6c8b6; height:111px; position: relative;}
#header img {background-image: url(compozedlogo.jpeg); }
.titletext {color:#073B72; font-size: 30px; /*font-weight:bold;*/ vertical-align: middle;  margin: 40px 0 0 30px}
.titletext2 {color:#073B72; font-size: 20px; /*font-weight:bold;*/ vertical-align: middle;  margin: 40px 0 0 30px}

h2 {color:/*#B94A9A*//*#8e81d2;*/ /*#8477ab*/#b94a75; font-weight: bold; margin-top:10px; margin-bottom:10px;}

#introtable td:nth-of-type(odd) {color: #b58947; font-weight: bold;}
#introtable {text-align:left;}
#introtable th, td {border: none;}
#introtable tr {border-spacing: 5px;}

blockquote {margin:0px;}
.quoter {color:#696969; margin-left: 60px;}
.productcycleimage{padding-left: 125px;}
.tech{color:#608aa8; font-weight:bold;}

h3 {color:#608aa8;}
/* .links{color:#4ab9a0;} */

.nav2 {
        font-size: 1em; font-weight: bold; color: #000000; text-decoration: none;
        background-color: #9fc1b2; text-align: center; border-top: 1px; border-left: 0px; 
        border-right: 0px; border-bottom: 0px; border-style: solid; border-top-color: black; 
        width:100%;
      }
.nav2 a:link {color: #073C72;}
.nav2 a:hover {color: #FFFFFF;}
.nav2 a:active {color: #073C72;}
.nav2 a {text-decoration: none;}

.footer {
            text-align: center; background-color: #9fc1b2; color: #000000; border-left: 0px; border-right: 0px; border-top: 0px; border-bottom: 1px;
            border-style: solid; border-bottom-color: black; width:100%;
        }

        /*#cabbcc
        #b6c8b6
        original green #9fc1b2*/